.email-input-wrapper {
  margin-top: 8px;
 width: 100%;
  
  font-size: 14px;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  z-index: 1000;
}

.email-chip {
  display: flex;
  align-items: center;
  background: #4285f4;
  color: #fff;
  padding: 4px 8px;
  width: fit-content;
  border-radius: 20px;
  font-size: 12px;
    margin-bottom: 8px;

}

.email-chip button {
  background: none;
  border: none;
  color: #fff;
  margin-left: 6px;
  cursor: pointer;
  font-weight: bold;
}

.email-input-field {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: transparent;
  margin-top: 8px;
  color: #fff;
  font-size: 14px;
  padding: 8px 12px;
 width: 100%;
}
.email-input-wrapper label {
  font-size: 12px;
  margin-bottom: 2px;
  color: #ffffff;
}