
.input-area-group{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  width: 100%;
  height: auto;

  font-size: small;
}
.input-area-group textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 13px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
 
  z-index: 1000;
  color: #fff;
background: rgba(255, 255, 255, 0.05);
}

.input-area-group label {
  font-size: 12px;
  margin-bottom: 2px;
  color: #ffffff;
}