

.input-group select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background:transparent;
  color: #ffffff;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input-group select:focus {
  border-color: #4285f4; /* xanh Google */
  box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.2);
}

.input-group select option {
  padding: 8px;
  color: #000;
}
