input[readonly],
textarea[readonly] {
  background-color: transparent; /* nền xám nhẹ */
  color: #666;              /* chữ nhạt hơn */
  cursor: not-allowed;      /* đổi con trỏ */
}

.input-group{
 
}