/* popup.css */
.extension-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 24px;
  background: linear-gradient(145deg, #10121f, #1a2665ff);
padding: 10px 15px;
  height: 100vh;
  margin: 0 auto;
  transition: all 0.3s ease;
max-height: 100vh; /* full chiều cao màn hình */
  overflow-y: auto;  /* scroll khi vượt */
  box-sizing: border-box;
}
.blue-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: rgba(37, 99, 235, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(50px);
  z-index: 0;
  pointer-events: none; 
}

.agent_name {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  font-size: larger;
}

.section-card {

  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 12px;
  width: 100%;
  border: none;
}

.section-title {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin-top: 4px;
  font-size: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  width: 100%;
  height: auto;
  font-size: small;
}

.input-group label {
  font-size: 12px;
  margin-bottom: 2px;
  color: #ffffff;
}

.input-group input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.05); /* trong suốt nhẹ */
  color: #fff;
  z-index: 1000;
}

.input-group input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.2);
  outline: none;
}

.input-group textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
  min-height: 140px;
  z-index: 1000;
  color: #fff;
background: rgba(255, 255, 255, 0.05);
}

.input-group textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.2);
  outline: none;
}

.error-text {
  font-size: 11px;
  color: #ef4444;
  margin-bottom: 4px;
  font-weight: 500;
}

/* Khi input bị lỗi */
.input-error {
  font-size: small;
  border-color: #ef4444 !important;
  box-shadow: 0 0 4px rgba(239, 68, 68, 0.3);
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.btn {
  width: 30%;
  padding: 10px 0;
  font-size: 13px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn.next {
  background:  #ff7461;
  color: white;
  border: none;
}

.btn.back {
  background-color: #f3f4f6;
  color: #374151;
  border: 1px solid #d1d5db;
}

.btn.start {
  background:  #ff7461;
  color: white;
  border: none;
}

.step-indicator {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
}


.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 0.3s ease;
  flex-shrink: 0;
}


.step-circle.active {
  background-color: #F5911E;
  box-shadow: 0 2px 6px rgba(37, 99, 235, 0.4);
}

.step-line {
  width: 20%;
  height: 3px;
  background-color: #ccc;
  border-radius: 2px;
  flex-shrink: 0;
}

.step-line.active {
  background-color: #2563eb;
}

.scrollable-step {
  /* max-height: 330px;
  overflow-y: auto; */
  width: 100%;
  padding-right: 6px;
}

/* scrollbar */
.scrollable-step::-webkit-scrollbar {
  width: 6px;
}

.scrollable-step::-webkit-scrollbar-thumb {
  background-color: rgba(37, 99, 235, 0.5);
  border-radius: 3px;
}

.scrollable-step::-webkit-scrollbar-track {
  background-color: transparent;
}
.session-remain {
  font-size: 8px;
  
  text-align: center;
}

.session-remain.normal {
  color: white;
}

.session-remain.danger {
  color: red;
}
.divider{
  border-right:2px solid #ccc;
  border-radius: 4px;
}
.tab-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem; /* khoảng cách giữa 2 tab */
}

.tab-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 45%;
  text-align: center;
  position: relative;
  font-weight: 500;
  color: #818181;
}

.tab-item.active {
  color: #ffffff;
  font-weight: 600;
}

.tab-item.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px; 
  border-radius: 4px;
  background-color: #ffffff; /* màu line active */
}

.extension-container::-webkit-scrollbar {
  width: 6px;
}

.extension-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.extension-container::-webkit-scrollbar-track {
  background: transparent;
}

.word-counter {
  font-size: 12px;
  color: #666;
  text-align: right;
  margin-top: 4px;
}
