/* popupSidebar.css */
.popup-with-sidebar {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}


.sidebar-wrapper {
  width:30%;
  padding: 0;
  transition: width 0.3s ease;
  
}

.sidebar-wrapper.hidden {
  width: 0;
  overflow: hidden;
}


.form-wrapper {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
}
.sidebar-toggle {
  position: relative;
  width: 20px;
  height: 40px;
  border: none;
  background: #e2e2e2;
  color: #120000;
  margin-top: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: left 0.3s ease;
  border-radius: 0 4px 4px 0;
}

.section-title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin-top: 4px;
}

.input-group label {
  color: #fff;
  font-size: 12px;
}

.input-group input,
.input-group textarea {
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 8px 12px;
}

.input-error {
  border-color: #ef4444 !important;
  box-shadow: 0 0 4px rgba(239, 68, 68, 0.3);
}
.sidebar-toggle.expanded {
  margin-left: -1px; /* dính sát cạnh phải sidebar */
}

.sidebar-toggle.collapsed {
  margin-left: -1px; /* dính sát biên trái khi sidebar ẩn */
}

.form-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;       /* chiếm toàn bộ chiều cao form-wrapper */
  color: #888;
  cursor: pointer;
  transition: opacity 0.3s;
}

.form-placeholder img {
  width: 48px;        /* icon nhỏ gọn */
  height: 48px;
  margin-bottom: 8px;
  opacity: 0.8;
}

.form-placeholder p {
  font-size: 12px;
  color: #aaa;
}
