.settings-page {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #1f1f2e;
  border-radius: 16px;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.setting_text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  background-color: #2a2a3d;
  transition: background 0.2s;
}

.setting-item:hover {
  background-color: #38384f;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(16px);
}
.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn.back {
  padding: 10px 20px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.btn.back:hover {
  background-color: #d7d7d7;
}

