.sidebar-container {
 position: sticky; /* giữ sidebar cố định khi scroll */
  top: 10px;        /* cách top 1 đoạn để nhìn đẹp */
  height: 90vh;
  max-height: 90%;   
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
padding: 12px;
  border-radius: 16px;
  box-shadow: 2px 0 5px rgba(4, 10, 84, 0.2);
}

.sidebar-search {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 1rem;
  outline: none;
  background-color: #2b2b2b;
  color: #fff;
}

.sidebar-list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-item {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
    background-color: #3a3a3a;

}

.sidebar-item:hover {
  background-color: #333;
  color: #fff;
}

.sidebar-empty {
  text-align: center;
  color: #666;
  margin-top: 1rem;
}
